.navbar{
    background-color: #0C112A;
    max-width: 1200px;
    margin: auto;
    
}
.navbar__container{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.navbar__menu{
    padding-top: 35px;

}

.navbar__icon{
   color: #fff;
}