.content__title {
  padding-top: 1em;
  padding-bottom: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content__subtitle {
  text-align: center;
}

.content__square, .content__cross {
  position: absolute;
  cursor: pointer;
}

.content__square{
  height: 1.6em;
  width: 1.6em;
  top: 0;
  right: 20%;
  margin: 0.4em;
}

.content__cross {
  height: .8em;
  width: .8em;
  top: 4%;
  right: 23%;
  margin: 0.4em;
  font-weight: 200;
  display: block;
}

.hidden {
  display: none;
}

.content__wrapper {
  position: relative;
}

.content__img {
  height: 11em;
  width: 11em;
}

.content__btn {
  margin-top: 2.5em;
  margin-bottom: 3em;
}

.splide__arrow {
  background-color: transparent !important; 
  color: white !important; 
  filter: invert(100%) sepia(0%) saturate(21%) hue-rotate(314deg) brightness(103%) contrast(110%);
}

.splide__arrow--next {
  right: .2em !important;
}

.splide__arrow--prev {
  left: -4em !important;
  padding-left: 1em !important  ;
}

@media screen and (min-width: 320px) and (max-width: 960px) {
  .grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .item1 { grid-area: 1 / 1 / 2 / 2; }
    .item2 { grid-area: 1 / 2 / 2 / 3; }
    .item3 { grid-area: 2 / 2 / 3 / 3; }
    .item4 { grid-area: 2 / 1 / 3 / 2; }
}
