.graphics {
  background-color: #0c112a;
  padding-bottom: 3em;
  width: 100%;
}

.graphics__title {
  padding-top: 1em;
  padding-bottom: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.graphics__container {
  max-width: 1200px;
  margin: auto;
}

.graphics__line {
  border: 1px solid #16215b;
  margin: 0;
}

.graphics__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphics__logo {
  height: 7em;
  width: 10em;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.graphics__wrapper {
  color: white;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
}
.graphics__subtitle {
  margin-bottom: 0em;
}

.graphics__description {
    margin-right: 8em;
}

.graphics__btn {
    padding: .5em 1.5em;
    color: white;
    background-color: #F26929;
    border-style: none;
    text-transform: capitalize;
    border-radius: 3px;
    cursor: pointer;

}
