.contact__title {
  text-align: center;
  color: #e0eaf8;
  font-size: 4.375rem;
}
p {
  font-size: 1.375rem;
  color: #e0eaf8;
}
a {
  color: #e0eaf8;
}

form {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.contact__input {
  width: 100%;
  padding: 0.5rem;
  margin: 1.25rem;
}
.contact__message {
  resize: none;
}

.contact__info {
  font-size: 0.75rem;
}
