.pp__banner {
  width: 100%;
}

.pp__container {
  color: #e0eaf8;
  margin: 0 10%;
}
.pp__title {
  text-align: center;
  font-family: "Space Quest Italic";
  line-height: 5.1975rem;
  font-size: 4.375rem;
}

.pp__subtitle {
  padding-bottom: 0;
  font-size: 1.375rem;
}

.pp__line {
  background-color: #2e3970;
  height: 0.0625rem;
  width: 120rem;
  max-width: 1200px;
  margin: auto;
}
.pp__text {
  padding-bottom: 0.625rem;
  font-size: 1.375rem;
  text-align: justify;
  color: #e0eaf8;
}
.ppmoblie__banner {
  visibility: hidden;
  display: none;
}
.pp__line {
  margin-bottom: 4rem;
}

@media screen and (max-width: 420px) {
  .pp__title {
    font-size: 2rem;
  }
  .pp__subtitle {
    font-size: 1.375rem;
  }
  .pp__text {
    font-size: 1.375rem;
    text-align: left;
    color: #e0eaf8;
  }
  .pp__line {
    margin-bottom: 0.9375rem;
  }
}

@media screen and (max-width: 400px) {
  .pp__banner {
    visibility: hidden;
    display: none;
  }
  .ppmoblie__banner {
    visibility: visible;
    display: block;
    background-image: url("../../assets/privacypolicy_verticalbanner.png");
    background-position: center;
    width: 100%;
    height: 40rem;
  }

  .pp__title {
    padding-bottom: 0.625rem;
  }
  .pp__text {
    font-size: 1.375rem;
    text-align: left;
    color: #e0eaf8;
  }
}
