.pp__banner {
  background-image: url("../../assets/privacy_policy.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 31.25rem;
  width: 100%;
}
.pp__container {
  color: #e0eaf8;
  max-width: 1200px;
  margin: auto;
}

.pp__title {
  text-align: center;
  padding-bottom: 4.375rem;
}
.pp__subtitle {
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
}

.pp__line {
  background-color: #2e3970;
  height: 0.0625rem;
  width: 120rem;
  max-width: 1200px;
  margin: auto;
}
p {
  padding-bottom: 0.625rem;
  font-size: 1.375rem;
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
  .pp__banner {
    background-position: left center;
  }
}
@media screen and (min-width: 399px) and (max-width: 900px) {
  .pp__banner {
    background-position: 15% 75%;
  }
}
@media screen and (min-width: 399px) and (max-width: 653px) {
  .pp__banner {
    background-position: 23% 75%;
  }
}
@media screen and (max-width: 400px) {
  .pp__banner {
    background-image: url("../../assets/vertical_banner.png");
  }
  .pp__container {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .pp__title {
    text-align: center;
    padding-bottom: 0.625rem;
  }
}
