.banner__container {
  background-image: url("../../assets/purple_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .banner__container {
    background-image: url("../../assets/vertical_banner.png");
  }
}
