/* Centrar image em responsive*/

.banner__container{
   
} 
.banner__image{

}
.banner__image-mobile{
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 430px) {
    .banner__image{
        visibility: hidden;
        display: none;
    }
    .banner__image-mobile{
        visibility: visible;
        display: block;
    }
}
