.about {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3.75rem;
}
.about__mobilebanner {
  visibility: hidden;
  display: none;
}
.about__title {
  text-align: center;
  color: #e0eaf8;
  text-transform: uppercase;
  font-size: 4.375rem;
}
.about__line {
  border: 1px solid #16215b;
  max-width: 1200px;
  margin: auto;
}

.about__subtitle,
.about__text {
  color: #e0eaf8;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
.about__subtitle {
  font-size: 1.375rem;
  margin-top: 1.875rem;
}
.about__text {
  font-size: 1.375rem;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}
.about__name {
  color: #30d1ff;
  margin: 0.625rem;
}

.about__container {
  color: #e0eaf8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.about__flex {
  text-align: center;
  box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.39);
  border-radius: 10px;
}
.about__link {
  padding: 0.625rem;
}
.about__departement {
  border-bottom: 0.125rem solid #30d1ff;
}

.about__banner {
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .about__container {
    color: #e0eaf8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    margin-left: 30px;
    margin-right: 30px;
  }
  .about__title {
    font-size: 2rem;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .about__container {
    background-position: 20% 80%;
    color: #e0eaf8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 500px) {
  .about__text {
    font-size: 1rem;
    margin-top: 0.9375rem;
  }
  .about__title {
    font-size: 2rem;
  }
  .about__subtitle {
    margin-top: 1.5625rem;
  }
  .about__container {
    color: #e0eaf8;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-top: 1.5625rem;
  }
  .about {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
@media screen and (max-width: 410px) {
  .about__banner {
    visibility: hidden;
    display: none;
  }
  .about__mobilebanner {
    visibility: visible;
    display: block;
  }
}
