.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__line {
  background: radial-gradient(
    circle,
    rgba(52, 55, 74, 1) 0%,
    rgba(68, 75, 118, 1) 50%,
    rgba(52, 55, 74, 0) 100%
  );
  height: 0.25rem;
  width: 120rem;
}
.footer__container {
  text-align: center;
}
.footer__logo {
  width: 8rem;
  height: 5.0525rem;
}

.footer__iconx {
  color: #e0eaf8;
  height: 2rem;
  width: 2rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.footer__brands {
  margin-top: 1.25rem;
  align-items: center;
  flex-direction: row;
  display: flex;
  align-content: center;
}
.footer__menu {
  margin-bottom: 0.9375rem;
}
.footer__link,
.footer__link-others {
  text-decoration: none;
  color: #e0eaf8;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  padding: 1.25rem;
  padding-bottom: 0;
}

.footer__link-others {
  color: #787ca9;
}
.footer__linktree {
  padding-left: 1.25rem;
}
.footer__cosmicexodus {
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 250px) and (max-width: 700px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
  }
  .footer__iconx {
    padding: 0;
  }
  .active {
    width: 80%;
  }
}
