.graphics {
  background-color: #0c112a;
  padding-bottom: 2em;
  width: 100%;
  overflow-x: hidden;
}

.graphics__title {
  padding-top: 1em;
  padding-bottom: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.graphics__container {
  max-width: 1200px;
  margin: 0 7%;
  padding-left: 2em;
  padding-right: 2em;
}

.graphics__line {
  border: 1px solid #16215b;
  margin: 0;
}


.graphics__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphics__logo {
  height: 9em;
  width: 10em;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.graphics__wrapper {
  color: white;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
}

.graphics__subtitle {
  margin-bottom: 0em;
}

.graphics__description {
  margin-right: 8em;
}

<<<<<<< HEAD:src/component/graphicspage/graphicspage.css
.graphics__btn {
    padding: .5em 1.5em;
    color: white;
    background-color: #F26929;
    border-style: none;
    text-transform: capitalize;
    border-radius: 3px;
    cursor: pointer;

}
=======
@media screen and (min-width: 250px) and (max-width: 950px) {
  .graphics__description {
    margin-right: 2em;
  }
}

@media screen and (min-width: 250px) and (max-width: 700px) {
  .graphics__container {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0 2%;
  }
  .graphics__flex {
    flex-direction: column;
  }

  .graphics__logo {
    width: 100%;
    height: 15em;
  }

  .graphics__wrapper {
    align-items: center;
    text-align: left;
    justify-content: center;
  }

  .graphics__description {
    margin: 1em;
    margin-bottom: 2em;
  }
}
>>>>>>> 364167a58d36a35c6f8a70cd7e8571b62d172a7a:src/component/graphics/graphics.css
