@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500&display=swap");

.main {
  background-color: #0c112a;
  overflow-x: hidden;
  font-family: "Saira", sans-serif;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Space Quest Italic";
  src: url("../src/fonts/Space_Quest.ttf");
}
h2 {
  font-family: "Space Quest Italic";
  line-height: 5.1975rem;
}
